.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(4, 13, 63, 0.603) 100%);
  color: #FFF;
}
.main h2 {
  font-size: 36px;
  font-weight: bold;
}
.main h3 {
  font-size: 18px;
  font-weight: normal;
}
.projects {
  display: flex;
  margin-top: 150px;
}
.project {
  height: 250px;
  width: 200px;
  border-radius: 15px;
  border: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(4, 13, 63, 0.603) 100%);
  text-decoration: none;
  text-transform: none;
  color: #FFF;
}
.project:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #FFF;
}