.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(4, 13, 63, 0.603) 100%);
  color: #FFF;
  min-height: 80vh;
}
.mainPlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(4, 13, 63, 0.603) 100%);
  color: #FFF;
  min-height: 100vh;
  margin-top: 50px;
}
.mainPlay h2, .main h2 {
  font-size: 36px;
  font-weight: bold;
}
.main h3 {
  font-size: 18px;
  font-weight: normal;
}
.projects {
  display: flex;
  margin-top: 25px;
  width: 1062px;
}
.project {
  height: 250px;
  width: 1200px;
  border-radius: 20px;
  border: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(4, 13, 63, 0.603) 100%);
  text-decoration: none;
  text-transform: none;
  color: #FFF;
}
.project:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #FFF;
}

@keyframes pulseSheen {
  0%, 20% {
    box-shadow: 0 0 0px #00ccff;
  }
  10%, 30% {
    box-shadow: 0 0 8px 4px rgba(0, 204, 255, 0.8);
  }
  40%, 100% {
    box-shadow: 0 0 0px #00ccff;
  }
}

@keyframes sheenMove {
  0% {
    left: -100%;
  }
  10% {
    left: 100%;
  }
  100% {
    left: 100%; /* Keep it out of view after 10% */
  }
}
.button {
  width: 150px;
  height: 35px;
  float: right;
  margin: 20px 25px 0 0;
  border-radius: 20px;
  text-align: center;
  padding-top: 6px;
  background-color: #007BFF;
  color: #FFF;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  animation: pulseSheen 8s infinite; /* Combined animation */
}

.button:hover {
  background-color: #3a98fd;
}

/* Sheen effect */
.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
  transform: skewX(-30deg);
  animation: sheenMove 8s infinite;
}
.logo {
  margin-left: 25px;
  height: 73px;
  margin-top: 6px;
}
.emailSection {
  max-width: 1200px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background-image: url('/images/background2.png');
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: top; /* Centers the image */
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 1px 1px;
}
.wrapper {
  width: 100%;
  height: 900px;
  position: relative;
}

.background {
  background-image: url('/images/test1.webp');
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  background-color:  rgba(14, 14, 77, 0.404);
  padding: 150px 0;
  height: 100%;
}
.shadow {
  --tw-bg-opacity: .92;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  height: 100%;
  width: 100%;
  position: absolute;
}
.shadow2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 20px;
}
.formstuff {
  position: relative;
  z-index: 10;
}